---
layout: archive
permalink: /class10eng/
title: "Class X English"
author_profile: false
---

{% include base_path %}
{% include group-by-array collection=site.posts field="tags" %}

{% for tag in group_names %}
  {% if tag contains "Class X English" %}
    {% assign posts = group_items[forloop.index0] %}
    <!-- <h2 id="{{ tag | slugify }}" class="archive__subtitle">{{ tag }}</h2> -->
    {% for post in posts %}
      {% include archive-single.html %}
    {% endfor %}
  {% endif %}
{% endfor %}